<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap') %> 
</head>
<body>
    <% const name = "Jordan" %>
    <h1>Planets</h1>

    <ul>
        <% planets.forEach(planet => { %>
            <a href= "/starWars/<%= planet.name %>"> <li><%= planet.name %></li></a>
        <% })%>
    </ul>
</body>
</html>