<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    ${bootstrap}
</head>
<body class="">
    ${navbar}
    <h1>${planet.name}</h1>
    <div>rotation_period: ${planet.rotation_period}</div>
    <div>orbital_period: ${planet.orbital_period}</div>
    <div>diameter: ${planet.diameter}</div>
    <div>climate: ${planet.climate}</div>
    <div>gravity: ${planet.gravity}</div>
    <div>terrain: ${planet.terrain}</div>
</body>
</html>